@import '../../_root.scss';

//MAP
.map {
    line-height: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
    padding: 0 2rem 2rem 2rem;

    @include md {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    iframe {
        margin: 0;
        padding: 0;
    }

    .map__office,
    .map__factory {
        .map__head {
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--secondary-dark);
            padding: 2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                margin-right: 1rem;
                font-size: 2.2rem;
            }
        }

        iframe {
            border: 1px solid #c2c4d3;
            overflow: hidden;
            border-radius: 0.6rem;
            position: relative;
        }
    }
}
